<nav class="navbar navbar-sticky fixed-top navbar-expand-lg navbar-dark py-2 font-weight-bold" style="color: black;">
    <div class="container">

        <a class="navbar-brand" href="/">
            <i class="icon icon-layers"></i>
            <strong>हिन्दू क्रांति सेना</strong>
        </a>

        <div class="d-flex d-lg-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="furnitureNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon icon-menu"></span>
            </button>
        </div>

        <!-- Navbar collapse -->

        <div class="navbar-collapse collapse navbar-collapse-sidebar" id="mainNavbar">

            <!-- Mobile search -->

            <div class="d-block d-lg-none">
                <div class="p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <i class="icon icon-layers"></i>
                            <strong>हिन्दू क्रांति सेना</strong>
                        </div>
                        <button class="btn p-0" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon icon-cross font-size-lg"></span>
                        </button>
                    </div>
                </div>
                <div class="bg-light">
                    <div class="form-group form-group-icon">
                        <input type="text" class="form-control form-control-simple" placeholder="Search site">
                        <button class="btn btn-clean"><i class="icon icon-magnifier"></i></button>
                    </div>
                </div>
            </div>

            <!-- <ul class="navbar-nav ml-auto align-items-lg-center">
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#home">मुख्य पृष्ठ<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#about">हमारा उद्देश्य</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#start">पिक्चर गैलरी</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#stories">सदस्य बनें</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#testimonials">ब्लॉग</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#jobs">समाचार एवं घोषणाये</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to" href="#jobs">संपर्क सूत्र</a>
                </li>
            </ul> -->
        </div>

    </div>
</nav>