<script src="/assets/js/vendor/jquery.min.js"></script>
<script src="/assets/js/vendor/bootstrap.bundle.js"></script>
<script src="/assets/js/vendor/in-view.min.js"></script>
<script src="/assets/js/vendor/jquery.lavalamp.js"></script>
<script src="/assets/js/vendor/owl.carousel.js"></script>
<script src="/assets/js/vendor/rellax.js"></script>
<script src="/assets/js/vendor/wow.js"></script>
<script src="/assets/js/vendor/tabzy.js"></script>
<script src="/assets/js/vendor/isotope.pkgd.js"></script>

<!-- Template Scripts -->

<script src="/assets/js/main.js"></script>
<script src="/assets/js/custom.js"></script>